.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App__menuContainersWrapper {
  display: flex;
  justify-content: space-between;
}

.App__activeOptionBtn {
  background-color: #56c596;
  border-radius: 8px;
  border: none;
  outline: none;
}

.App__optionBtn {
  padding: 16px 32px;
  cursor: pointer;
}
